{
  "swagger": "2.0",
  "info": {
    "title": "Azure Space Bubble Management",
    "version": "2024-01-01",
    "x-typespec-generated": [
      {
        "emitter": "@azure-tools/typespec-autorest"
      }
    ]
  },
  "schemes": [
    "https"
  ],
  "host": "management.azure.com",
  "produces": [
    "application/json"
  ],
  "consumes": [
    "application/json"
  ],
  "security": [
    {
      "azure_auth": [
        "user_impersonation"
      ]
    }
  ],
  "securityDefinitions": {
    "azure_auth": {
      "type": "oauth2",
      "description": "Azure Active Directory OAuth2 Flow.",
      "flow": "implicit",
      "authorizationUrl": "https://login.microsoftonline.com/common/oauth2/authorize",
      "scopes": {
        "user_impersonation": "impersonate your user account"
      }
    }
  },
  "tags": [
    {
      "name": "Operations"
    },
    {
      "name": "SpaceBubbles"
    }
  ],
  "paths": {
    "/providers/Microsoft.SpaceBubble/operations": {
      "get": {
        "operationId": "Operations_List",
        "tags": [
          "Operations"
        ],
        "description": "List the operations for the provider",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/OperationListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/providers/Microsoft.SpaceBubble/spaceBubbles": {
      "get": {
        "operationId": "SpaceBubbles_ListBySubscription",
        "tags": [
          "SpaceBubbles"
        ],
        "description": "List space bubbles by subscription",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpaceBubbleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SpaceBubble/spaceBubbles": {
      "get": {
        "operationId": "SpaceBubbles_ListByResourceGroup",
        "tags": [
          "SpaceBubbles"
        ],
        "description": "List space bubbles by resource group",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpaceBubbleListResult"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-pageable": {
          "nextLinkName": "nextLink"
        }
      }
    },
    "/subscriptions/{subscriptionId}/resourceGroups/{resourceGroupName}/providers/Microsoft.SpaceBubble/spaceBubbles/{spaceBubbleName}": {
      "get": {
        "operationId": "SpaceBubbles_Get",
        "tags": [
          "SpaceBubbles"
        ],
        "description": "Get a space bubble",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceBubbleName",
            "in": "path",
            "description": "Name of the space bubble",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpaceBubble"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "put": {
        "operationId": "SpaceBubbles_CreateOrUpdate",
        "tags": [
          "SpaceBubbles"
        ],
        "description": "Create or update a space bubble",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceBubbleName",
            "in": "path",
            "description": "Name of the space bubble",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "resource",
            "in": "body",
            "description": "Resource create parameters.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpaceBubble"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Resource 'SpaceBubble' update operation succeeded",
            "schema": {
              "$ref": "#/definitions/SpaceBubble"
            }
          },
          "201": {
            "description": "Resource 'SpaceBubble' create operation succeeded",
            "schema": {
              "$ref": "#/definitions/SpaceBubble"
            },
            "headers": {
              "Azure-AsyncOperation": {
                "type": "string",
                "description": "A link to the status monitor"
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "azure-async-operation"
        },
        "x-ms-long-running-operation": true
      },
      "patch": {
        "operationId": "SpaceBubbles_Update",
        "tags": [
          "SpaceBubbles"
        ],
        "description": "Update a space bubble",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceBubbleName",
            "in": "path",
            "description": "Name of the space bubble",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          },
          {
            "name": "properties",
            "in": "body",
            "description": "The resource properties to be updated.",
            "required": true,
            "schema": {
              "$ref": "#/definitions/SpaceBubbleUpdate"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Azure operation completed successfully.",
            "schema": {
              "$ref": "#/definitions/SpaceBubble"
            }
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        }
      },
      "delete": {
        "operationId": "SpaceBubbles_Delete",
        "tags": [
          "SpaceBubbles"
        ],
        "description": "Delete a space bubble",
        "parameters": [
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ApiVersionParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/SubscriptionIdParameter"
          },
          {
            "$ref": "../../../../../common-types/resource-management/v5/types.json#/parameters/ResourceGroupNameParameter"
          },
          {
            "name": "spaceBubbleName",
            "in": "path",
            "description": "Name of the space bubble",
            "required": true,
            "type": "string",
            "pattern": "^[a-zA-Z0-9-]{3,24}$"
          }
        ],
        "responses": {
          "202": {
            "description": "Resource deletion accepted.",
            "headers": {
              "Location": {
                "type": "string",
                "description": "The Location header contains the URL where the status of the long running operation can be checked."
              },
              "Retry-After": {
                "type": "integer",
                "format": "int32",
                "description": "The Retry-After header can indicate how long the client should wait before polling the operation status."
              }
            }
          },
          "204": {
            "description": "Resource does not exist."
          },
          "default": {
            "description": "An unexpected error response.",
            "schema": {
              "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/ErrorResponse"
            }
          }
        },
        "x-ms-long-running-operation-options": {
          "final-state-via": "location"
        },
        "x-ms-long-running-operation": true
      }
    }
  },
  "definitions": {
    "Azure.ResourceManager.ResourceProvisioningState": {
      "type": "string",
      "description": "The provisioning state of a resource type.",
      "enum": [
        "Succeeded",
        "Failed",
        "Canceled"
      ],
      "x-ms-enum": {
        "name": "ResourceProvisioningState",
        "modelAsString": true,
        "values": [
          {
            "name": "Succeeded",
            "value": "Succeeded",
            "description": "Resource has been created."
          },
          {
            "name": "Failed",
            "value": "Failed",
            "description": "Resource creation failed."
          },
          {
            "name": "Canceled",
            "value": "Canceled",
            "description": "Resource creation was canceled."
          }
        ]
      },
      "readOnly": true
    },
    "SpaceBubble": {
      "type": "object",
      "description": "A space bubble resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SpaceBubbleProperties",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SpaceBubbleListResult": {
      "type": "object",
      "description": "The response of a SpaceBubble list operation.",
      "properties": {
        "value": {
          "type": "array",
          "description": "The SpaceBubble items on this page",
          "items": {
            "$ref": "#/definitions/SpaceBubble"
          }
        },
        "nextLink": {
          "type": "string",
          "format": "uri",
          "description": "The link to the next page of items"
        }
      },
      "required": [
        "value"
      ]
    },
    "SpaceBubbleProperties": {
      "type": "object",
      "description": "Properties of a space bubble",
      "properties": {
        "diameter": {
          "type": "number",
          "format": "double",
          "description": "The diameter of the space bubble in meters"
        },
        "status": {
          "$ref": "#/definitions/SpaceBubbleStatus",
          "description": "The current operational status of the space bubble"
        },
        "coordinates": {
          "$ref": "#/definitions/SpaceCoordinates",
          "description": "The coordinates of the space bubble in space"
        },
        "provisioningState": {
          "$ref": "#/definitions/Azure.ResourceManager.ResourceProvisioningState",
          "description": "The provisioning state of the space bubble",
          "readOnly": true
        }
      },
      "required": [
        "diameter",
        "status",
        "coordinates"
      ]
    },
    "SpaceBubblePropertiesUpdate": {
      "type": "object",
      "description": "Properties of a space bubble",
      "properties": {
        "diameter": {
          "type": "number",
          "format": "double",
          "description": "The diameter of the space bubble in meters"
        },
        "status": {
          "$ref": "#/definitions/SpaceBubbleStatus",
          "description": "The current operational status of the space bubble"
        },
        "coordinates": {
          "$ref": "#/definitions/SpaceCoordinatesUpdate",
          "description": "The coordinates of the space bubble in space"
        }
      }
    },
    "SpaceBubbleStatus": {
      "type": "string",
      "description": "The operational status of a space bubble",
      "enum": [
        "Creating",
        "Active",
        "Expanding",
        "Contracting",
        "Inactive",
        "Deleting"
      ],
      "x-ms-enum": {
        "name": "SpaceBubbleStatus",
        "modelAsString": true,
        "values": [
          {
            "name": "Creating",
            "value": "Creating",
            "description": "The space bubble is being created"
          },
          {
            "name": "Active",
            "value": "Active",
            "description": "The space bubble is active and operational"
          },
          {
            "name": "Expanding",
            "value": "Expanding",
            "description": "The space bubble is expanding"
          },
          {
            "name": "Contracting",
            "value": "Contracting",
            "description": "The space bubble is contracting"
          },
          {
            "name": "Inactive",
            "value": "Inactive",
            "description": "The space bubble is inactive"
          },
          {
            "name": "Deleting",
            "value": "Deleting",
            "description": "The space bubble is being deleted"
          }
        ]
      }
    },
    "SpaceBubbleUpdate": {
      "type": "object",
      "description": "A space bubble resource",
      "properties": {
        "properties": {
          "$ref": "#/definitions/SpaceBubblePropertiesUpdate",
          "description": "The resource-specific properties for this resource."
        }
      },
      "allOf": [
        {
          "$ref": "../../../../../common-types/resource-management/v5/types.json#/definitions/TrackedResource"
        }
      ]
    },
    "SpaceCoordinates": {
      "type": "object",
      "description": "3D coordinates in space",
      "properties": {
        "x": {
          "type": "number",
          "format": "double",
          "description": "X coordinate in space"
        },
        "y": {
          "type": "number",
          "format": "double",
          "description": "Y coordinate in space"
        },
        "z": {
          "type": "number",
          "format": "double",
          "description": "Z coordinate in space"
        }
      },
      "required": [
        "x",
        "y",
        "z"
      ]
    },
    "SpaceCoordinatesUpdate": {
      "type": "object",
      "description": "3D coordinates in space",
      "properties": {
        "x": {
          "type": "number",
          "format": "double",
          "description": "X coordinate in space"
        },
        "y": {
          "type": "number",
          "format": "double",
          "description": "Y coordinate in space"
        },
        "z": {
          "type": "number",
          "format": "double",
          "description": "Z coordinate in space"
        }
      }
    }
  },
  "parameters": {}
}
